- content_for :title do
  TestMaker 
  \| 
  Editando
  = @enrollment.to_s

.card
  .card-header
    %h3
      .fa.fa-lock-open
      Editando inscrição
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Detalhes da inscrição', @enrollment
    \|
    = link_to 'Voltar', enrollments_path