- content_for :title do
  TestMaker 
  \| 
  Editando
  = @enrollment.to_s

.card
  .card-header
    %h3
      .text-warning
      Adicione uma avaliação
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Detalhes da inscrição', @enrollment
    \|
    = link_to 'Voltar ao curso', course_path(@enrollment.course)