.card
  .card-header
    %h1 Editar lição
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Detalhes da lição', course_lesson_path(@course, @lesson)
    \|
    = link_to 'Voltar ao curso', course_path(@lesson.course)