// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";

// body { background: #f8f0e6; }

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }
